tmp
TmpAuth
Third party clients
TestResults
SiteProxy
packages
registry
Runner
orion
haproxy
NetlytTests
Netlyt.ServiceTests
NetlytConsole/bin
NetlytConsole/obj
NetlytConsole/.vs
jenkins
IntegrationDaemon
env
docker
bin
auth
.vscode
.vs
.git
**/.git
**/packages
*/packages
**/bin
*/bin
**/obj
*/obj
libnvoid/packages
Bogus/Source/Bogus/bin
Bogus/Source/Bogus/obj
Bogus/Source/fakerjs
Bogus/Source/Bogus.Tests
ipdump.txt
*.csv
**/published.tar.gz
**/donutAsseblies
libnvoid/*/obj
libnvoid/*/bin
Dockerfile
docker-compose*
.gitignore
.dockerignore
*.bat
*.env
