*/bin/*
**/node_modules/*
packages
BehaviorAnalysis/.idea
.vs/
*.txt
*/obj/*
Backup/
obj/
storage.ide
/env
/Peeralize/Third party clients/php/vendor/
**/workspace.xml
**/.idea/*
**/vendor
**.suo
**cookie.tmp
*/out/*
/Peeralize/published/
/Peeralize/Third party clients/php-full
**/composer.lock
**/published.tar.gz
**/.idea/workspace.xml
**storage.ide
**.pyc
