*/bin/*
**/node_modules/*
packages
BehaviorAnalysis/.idea
.vs/
*.txt
*.pyc
*.png
*.jpg
*/obj/*
Backup/
obj/
storage.ide
/env
/Netlyt/Third party clients/php/vendor/
**/workspace.xml
**/.idea/*
**/vendor
**.suo
**cookie.tmp
*/out/*
/Netlyt/published/
/Netlyt/Third party clients/php-full
**/composer.lock
**/published.tar.gz
**/.idea/workspace.xml
**storage.ide
**.pyc
/.vs/Netlyt/v15/sqlite3/storage.ide
/.vs/Netlyt/v15/sqlite3/storage.ide
/Netlyt/Third party clients/php/.idea/php.xml
/Netlyt/Third party clients/php/.idea/php.xml
**.csv
/BehaviorAnalysis/src/system/*
/BehaviorAnalysis/src/Netinfo
**.7z
*cookie_*.tmp
*.zip
/BehaviorAnalysis/src/rf_confusion_matrix.png
/BehaviorAnalysis/src/rf_gain.png
/BehaviorAnalysis/src/rf_lift.png
/TestResults
/jenkins
**.psess
**.vsp
/Runner
/BehaviorAnalysis/.vscode/.ropeproject/config.py
/BehaviorAnalysis/.vscode/.ropeproject/objectdb
/UpgradeLog.htm
/Generation/UiHarvester/lib/webrec/
/registry/
/SiteProxy/
**.orig
/Netlyt.Web.Old
/TmpAuth
**/donutAssemblies/**
/Netlyt.Web/published
/SiteProxy/certs/registry.vaskovasilev.eu/account_key.json
**/cert.pem
cert.pem
*.pem
/SiteProxy/certs/registry.vaskovasilev.eu/cert.pem
/SiteProxy/certs/registry.vaskovasilev.eu/chain.pem
/SiteProxy/certs/registry.vaskovasilev.eu/key.pem
