[submodule "Bogus"]
	path = Bogus
	url = git@bitbucket.org:peeralytics/bogus.git
	branch = master 
[submodule "IntegrationDaemon"]
	path = IntegrationDaemon
	url = git@bitbucket.org:peeralytics/integrationdaemon.git
	branch = master
[submodule "Orion"]
	path = Orion
	url = git@bitbucket.org:peeralytics/orion.git
	branch = master
[submodule "libnvoid"]
	path = libnvoid
	url = git@bitbucket.org:peeralytics/nvoid_libs.git
	branch = master
[submodule "PeeralyticsPhp"]
	path = "Third party clients/php"
	url = https://github.com/sp0x/PeeralyticsPhp.git
	branch = master